<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <p><a href="/bookingDataAccess/index.jsp">
        <button type="submit">Back</button>
    </a></p>
</head>
<body>


<div>
    <span th:text="${method}">Event create</span>
</div>


<section>
    <form th:action="@{events/create}" th:method="post">
        <div >
            <input type="text" name="title" class="form-control" placeholder="title">
            <input type="date" name="date" class="form-control" placeholder="date">
            <a href="events/create">
                <button type="submit">Save</button>
            </a>
        </div>
    </form>
</section>


</body>
</html>